.about-wrapper {
    text-align: center;
    img {
        border-radius: 5px;
        margin: 0 0 2rem 0;
    }
    .content {
        text-align: left;
    }
}

// our team
.ourteam {
    img:nth-child(even) {
        float: left;
        width: 300px !important;
    }
    img:nth-child(odd) {
        float: right;
        width: 300px;
    }
}