.wpcf7-form {
    label {
        text-transform: uppercase;
        font-weight: bold;
        padding: 0.3rem 0;
        width: 100%;
        input, textarea {
            margin: 0.5rem 0 0 0;
            width: 100%;
            box-shadow: 0 0 0.4rem rgba($darkblue, 0.1);
            border: none;
            padding: 0.5rem;
            border-radius: 0.1rem;
            transition: 0.3s ease-in-out;
            &:focus {
                outline: none;
                box-shadow: 0.1rem 0.2rem 0.8rem rgba($darkblue, 0.2);
                transition: 0.3s ease-in-out;
            }
        }
    }
    input[type=submit] {
        color: #fff;
        background: $darkblue;
        border-radius: 10px;
        border: none;
        outline: none;
        padding: 0.5rem 1rem;
        transition: 0.3s ease-in-out;
        &:hover {
            box-shadow: 0 0rem 0.5rem $salmon;
            text-decoration: none;
            background: $salmon;
            transition: 0.3s ease-in-out;
        }
    }
}