footer {
    width: 100%;
    height: 100px;
    background: $mediumblue;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .footer-bar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        li {
            position: relative;
            &:first-child a {
                padding-left: 0;
            }
            &:last-child a {
                padding-right: 0;
            }
            a {
                padding: 0.25rem 1rem;
                color: #fff;
            }
        }
    }
}