footer {
    width: 100%;
    height: auto;
    background: $mediumblue;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 3rem;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 200px;
        padding: 1rem;
    }
    .legal {
        width: 100%;
        height: 75px;
        color: $salmon;
        background: $darkblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .waves-wrapper-footer {
        width: 100%;
        height: auto;
        .wave-container-footer {
            position: relative;
            height: 100%;
            svg {
                display: block;
                position: absolute;
                bottom: 0;
                z-index: -1;
            }
        }
    }
    .footer-bar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            position: relative;
            a {
                margin: 0.25rem 1rem;
                font-size: 1.75rem;
                color: #fff;
                text-decoration: none;
                animation:show .2s .4s ease 1 both;
                &:before {
                    content:'';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background:#fff;
                    top:47%;
                    animation:out 0.3s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
                }
                &:hover:before {
                    animation:in 0.3s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
                }
            }
        }
    }
    .social-bar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
        li {
            position: relative;
            &:first-child a {
                padding-left: 0;
            }
            &:last-child a {
                padding-right: 0;
            }
            a {
                padding: 0.25rem 1rem;
                color: #fff;
                font-size: 1.6rem;
                transition: all 0.5s ease-in;
                i {
                    transition: all 0.5s ease-out;
                }
                &:hover {
                    text-decoration: none;
                    transition: all 0.5s ease-in;
                    i {
                        color: $salmon;
                        transform: rotate(360deg);
                        text-shadow: 0 0.3rem 0.3rem $darkblue;
                        transition: all 0.5s ease-in;
                    }
                }
            }
        }
    }
}
