@import 'node_modules/bootstrap/scss/bootstrap';
@import 'colors';
@import 'mixins';
@import 'header';
@import 'frontpage';
@import 'aboutpage';
@import 'contact';
@import 'archive';
@import 'footer';

@import url('https://fonts.googleapis.com/css?family=Poppins:400');

// main
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.page-wrap {
    padding: 2rem;
    z-index: 1;
}
::-moz-selection {
  background-color: $darkblue;
  color: #fff;
} 
::selection {
  background-color: $darkblue;
  color: #fff;
} 
.page-landing span {
  z-index: 1;
}
.page-numbers {
  font-weight: bold;
  color: $darkblue;
  padding-right: 1rem;
  transition: 0.2s ease-in-out;
  &:hover {
    color: $salmon;
    text-decoration: none;
    transition: 0.2s ease-in-out;
  }
}
.current {
  color: $salmon;
}

// 404
.page404 {
  background: $darkblue;
  height: calc(100vh - 75px);
  display: flex;
  align-items: center;
  position: relative;
  .waves-wrapper-404 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: auto;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    margin-top: -100px;
    z-index: 1;
    .content {
      width: 400px;
      .error {
        margin-left: 10px;
        text-transform: uppercase;
        font-weight: bold;
      }
      .under-error {
        background: #fff;
        padding: 0.075rem 0;
        width: 25px;
        margin: 5px 0 10px 10px;
      }
      .search {
        margin-bottom: 0.5rem;
        input, button {
          display: block;
        }
      }
      .home {
        margin: 20px 0 0 10px;
        a {
          font-weight: bold;
          color: #fff;
          transition: 0.2s ease-in-out;
          &:hover {
            color: $salmon;
            text-decoration: none;
            transition: 0.2s ease-in-out;
          }
        }
      }
    }
  }
}

// widgets
.widgets {
  .widget_recent_entries {
    ul li {
      flex-direction: column;
      color: $lightblue;
      font-size: 0.7rem !important;
      a {
        font-size: 1rem;
      }
    }
  }
  .widget {
    list-style-type: none;
    margin: 1.5rem 0;
    padding: 1rem;
    box-shadow: 0 0 0.4rem rgba($darkblue, 0.1);
    color: $darkblue;
    &:first-child {
      margin-top: 0;
    }
    .widget-title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.25rem;
      width: 100%;
      padding: 0.3rem 0;
      border-bottom: 0.1rem solid rgba($lightblue, 0.5);
    }
    ul {
      list-style-type: none;
      padding-inline-start: 0;
      li {
        padding: 0.25rem 0;
        display: flex;
        justify-content: space-between;
        &:last-child {
          padding: 0.25rem 0 0 0;
          border-bottom: none;
        }
        a {
          color: $darkblue;
          text-decoration: none;
          transition: 0.3s all;
          &:hover {
            color: $salmon;
            transition: 0.3s all;
          }
        }
      }
    }
    // social menu widget
    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1.5rem;
      li {
        margin-right: 1.25rem;
        font-size: 1.25rem;
        transition: 0.3s all;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          transform: rotate(25deg);
          text-shadow: 0 0.3rem 0.2rem rgba($darkblue, 0.2);
          transition: 0.3s all;
        }
      }
    }
  }
}

// breadcrumbs
.breadcrumbs {
  z-index: 10;
  display: flex;
  align-items: center;
  color: #fff;
  span {
      display: block;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1rem;
      margin-top: 0;
      padding: 0 0.25rem;
      a {
          color: $salmon;
          transition: 0.2s ease-in-out;
          &:hover {
              color: #fff;
              text-decoration: none;
              transition: 0.2s ease-in-out;
          }
      }
  }
}

img {
  width: 100%;
}
.content {
  ul {
    padding: 0 5rem;
  }
}